@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Regular.eot");
  src: url("fonts/Monitorca-Regular.woff2") format("woff2"), url("fonts/Monitorca-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Regular.woff") format("woff"), url("fonts/Monitorca-Regular.ttf") format("truetype"), url("fonts/Monitorca-Regular.svg#Monitorca-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Italic.eot");
  src: url("fonts/Monitorca-Italic.woff2") format("woff2"), url("fonts/Monitorca-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Italic.woff") format("woff"), url("fonts/Monitorca-Italic.ttf") format("truetype"), url("fonts/Monitorca-Italic.svg#Monitorca-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Bold.eot");
  src: url("fonts/Monitorca-Bold.woff2") format("woff2"), url("fonts/Monitorca-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-Bold.woff") format("woff"), url("fonts/Monitorca-Bold.ttf") format("truetype"), url("fonts/Monitorca-Bold.svg#Monitorca-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-BoldItalic.eot");
  src: url("fonts/Monitorca-BoldItalic.woff2") format("woff2"), url("fonts/Monitorca-BoldItalic.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Monitorca';
  src: url("fonts/Monitorca-BoldItalic.woff") format("woff"), url("fonts/Monitorca-BoldItalic.ttf") format("truetype"), url("fonts/Monitorca-BoldItalic.svg#Monitorca-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'handshoptypography';
  src: url("fonts/handshoptypography.woff") format("woff"), url("fonts/handshoptypography.ttf") format("truetype"), url("fonts/handshoptypography.svg#handshoptypography") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'handshoptypography';
  src: url("fonts/handshoptypography.eot");
  src: url("fonts/handshoptypography.woff2") format("woff2"), url("fonts/handshoptypography.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
