* {
  box-sizing: border-box; }

.production {
  font-family: 'Monitorca';
  color: #131313;
  background: #fff;
  background-image: url(/assets/img/production-bg.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .production__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .production__item {
    width: 32%;
    margin: 0.5%; }
  .production__wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto; }
  .production__title {
    margin: 0;
    text-align: center;
    line-height: 1; }
    .production__title_level_1 {
      font-size: 98px;
      color: #581516; }
    .production__title_level_2 {
      font-size: 48px; }

.product__container {
  position: relative; }
  .product__container_initial {
    position: initial; }

.product__img {
  position: relative;
  padding: 40px 0;
  z-index: 3; }
  .product__img:before {
    content: '';
    display: block;
    background: #eee;
    height: 100%;
    width: 47%;
    min-width: 200px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1; }
  .product__img_eldo:before {
    background: #581516; }
  .product__img_selor:before {
    background: #d1a485; }
  .product__img_pirso:before {
    background: #2e261e; }
  .product__img img {
    width: 100%; }

.product__info {
  text-align: center;
  line-height: 1; }

.product__name {
  font-size: 60px;
  margin: 0; }
  .product__name_eldo {
    color: #581516; }
  .product__name_selor {
    color: #d1a485; }
  .product__name_pirso {
    color: #2e261e; }

.product__sort {
  font-size: 30px;
  margin: 0;
  margin-top: 10px; }

.product-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #fff;
  bottom: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.8s, -webkit-transform 0.6s;
  transition: opacity 0.8s, transform 0.6s;
  transition: opacity 0.8s, transform 0.6s, -webkit-transform 0.6s; }
  .product-popup__content {
    padding: 70px 0;
    background: rgba(88, 21, 22, 0.95);
    width: 100%;
    overflow: auto;
    max-height: 100%; }
  .product-popup_active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  .product-popup__title {
    display: inline-block;
    text-align: center; }
    .product-popup__title-sort {
      font-size: 30px; }
    .product-popup__title-name {
      font-size: 60px; }
  .product-popup__wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .product-popup__video {
    height: 100%;
    width: 100%; }
    .product-popup__video iframe {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3; }
  .product-popup__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
  .product-popup__media {
    width: 55%;
    position: relative; }
  .product-popup__info {
    width: 45%;
    max-width: 640px;
    padding: 30px;
    position: relative;
    padding-bottom: 80px; }
  .product-popup__decription {
    font-size: 24px;
    margin: 0;
    padding: 40px 0;
    position: relative;
    margin-top: 40px; }
    .product-popup__decription:before {
      content: '';
      background: #d1a485;
      width: 60%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      display: block; }
  .product-popup__props {
    color: #d1a485;
    font-size: 18px;
    line-height: 1.5; }
  .product-popup__btn {
    position: absolute;
    bottom: 2px;
    left: 30px;
    border: none;
    background: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Monitorca';
    outline: none; }
    .product-popup__btn svg {
      width: 64px;
      height: 64px;
      fill: #fff;
      margin-right: 15px;
      transition: 0.3s; }
    .product-popup__btn:hover svg {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }

@media (max-width: 1300px) {
  .production__title_level_1 {
    font-size: 70px; }
  .production__title_level_2 {
    font-size: 30px; }
  .production__list {
    margin-top: 60px; }
  .product__name {
    font-size: 45px; }
  .product__sort {
    font-size: 24px; } }

@media (max-width: 999px) {
  .production__title_level_1 {
    font-size: 45px; }
  .production__title_level_2 {
    font-size: 24px; }
  .production__item {
    width: 100%;
    max-width: 330px;
    margin: 0 auto 40px; }
  .production__list {
    margin-top: 40px; }
  .product__name {
    font-size: 40px; }
  .product__sort {
    font-size: 20px; }
  .product-popup {
    width: 100%;
    display: block; }
    .product-popup__content {
      padding: 40px;
      box-sizing: border-box; }
    .product-popup__img {
      width: 100%;
      max-width: 768px;
      margin: 0 auto; }
    .product-popup__info {
      width: 100%;
      max-width: none;
      padding: 0;
      margin-top: 20px; }
    .product-popup__btn {
      top: 17px;
      bottom: auto;
      right: 0px;
      left: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
